.shadow {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    overflow: auto;
    min-height: 100vh;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    min-width: 800px;
    max-width: 1000px;
    margin: 10vh auto;
    background: #fff;
    border-radius: 1em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}